.about-product {
  margin-bottom: 29px;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 26px;
    padding-top: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 68px;
  }
}

.about-product__list {
  display: grid;
  counter-reset: about-counter;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 77px 59px;
    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.about-product__item {
  position: relative;
  counter-increment: about-counter;

  @media (max-width: @mobile-width-only) {
    display: flex;
    align-items: center;
    min-height: 60px;
    padding-left: 80px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    min-height: 240px;
    margin-right: 77px;
    padding-top: 111px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: var(--color-main) no-repeat 50% 50%;
    content: "";

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      .set-font(280px);
      position: absolute;
      top: -40px;
      right: 0;
      z-index: -1;
      color: var(--bg-color-secondary);
      content: counter(about-counter);
    }
  }

  &:first-child::after {
    @media (min-width: @tablet-width) {
      margin-right: 20px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 15px;
    }
  }
}

.about-product__benefit::before {
  background-image: url("@{images}/icons/leaf.svg");
  background-size: 30px 32px;
}

.about-product__easiness::before {
  background-image: url("@{images}/icons/water.svg");
  background-size: 29px 31px;
}

.about-product__frequency::before {
  background-image: url("@{images}/icons/eat.svg");
  background-size: 25px 30px;
}

.about-product__result::before {
  background-image: url("@{images}/icons/clock.svg");
  background-size: 32px 33px;
}

.about-product__title {
  .set-font(36px);
  margin: 3px 0 43px;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    margin-bottom: 72px;
  }
}

.about-product__text {
  margin: 0;

  @media (min-width: @tablet-width) {
    line-height: 1.5;
  }
}
