.contacts {
  display: flex;
  align-items: center;
  padding: 26px 20px;
  background-color: var(--bg-color-primary);
}

.contacts__title {
  margin: 0;
  .main-title(16px, 1.25);
  text-transform: uppercase;
}

.contacts__address {
  line-height: 1.45;
  font-style: normal;
}

.contacts__text {
  margin: 0;
  padding: 0 3px 0 0;
}
