.copywrite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: var(--gray-darken);

  @media (min-width: @tablet-width) {
    justify-content: end;
    width: fit-content;
  }

  &:hover {
    .copywrite__icon {
      fill: var(--color-main);
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copywrite__text {
  margin-right: 23px;
}

.copywrite__icon {
  fill: var(--gray-dark);
}
