.extra-gift {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  color: var(--white);
  background: no-repeat 50% 0;

  @media (max-width: @mobile-width-only) {
    width: 280px;
    height: 289px;
    background-image:
      linear-gradient(to bottom, rgba(var(--color-main-rgb), 0.85) 289px, transparent 289px),
      url("@{images}/content/order-gift-mobile.jpg");
  }

  @media (min-width: @tablet-width) {
    width: 707px;
    height: 200px;
    background-image:
      linear-gradient(to bottom, rgba(var(--color-main-rgb), 0.85) 200px, transparent 200px),
      url("@{images}/content/order-gift-tablet.jpg");
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 289px;
    padding: 0 60px;
    background-image:
      linear-gradient(to bottom, rgba(var(--color-main-rgb), 0.85) 289px, transparent 289px),
      url("@{images}/content/order-gift-mobile.jpg");
  }
}

.extra-gift__text {
  margin: 0;
  padding: 0;
}
