.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: @font-family-special;
  line-height: 1;

  @media (max-width: @mobile-width-only) {
    align-items: center;
    min-height: 302px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: var(--white);

    &::before {
      position: absolute;
      z-index: -1;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 453px;
      height: 302px;
      background: no-repeat 50% 0;
      background-size: auto 302px;
      background-image:
        linear-gradient(to bottom, rgba(var(--color-main-rgb), 0.85) 302px, transparent 302px),
        url("@{images}/content/hero-bg-mobile.jpg");

      @media @retina {
        background-image:
          linear-gradient(to bottom, rgba(var(--color-main-rgb), 0.85) 302px, transparent 302px),
          url("@{images}/content/hero-bg-mobile@2x.jpg");
      }
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 553px;
    margin-bottom: 82px;
  }
}

.hero__title {
  margin: 7px 0 25px 0;
  font-size: 36px;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    margin: 40px 0 40px 90px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    margin: 80px 0 40px 80px;
  }
}

.hero__slogan {
  margin: 0 0 29px 0;
  font-size: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin: 0 0 50px 90px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 50px 80px;
  }
}

.hero__img {
  display: block;

  @media (max-width: @mobile-width-only) {
    width: 280px;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: -1;
    width: 709px;
    margin: -80px auto 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -162px;
    width: 552px;
  }
}

.hero__button {
  font-size: 20px;
  width: max-content;

  @media (max-width: @mobile-width-only) {
    order: 4;
    width: 100%;
    margin-top: 2px;
    font-size: 14px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 91px;
    padding: 12px 26px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
    padding: 15px 26px;
  }
}
