.logo {
  display: flex;
  align-items: center;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.logo__icon {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 5px;
  }

  @media (min-width: @tablet-width) {
    width: 61px;
    height: 51px;
    margin-right: 11px;
  }

  @media (min-width: @desktop-width) {
    width: 71px;
    height: 59px;
    margin-right: 12px;
  }
}

.logo__text {
  width: 101px;
  height: 18px;
  fill: var(--almost-black);

  @media (max-width: @mobile-width-only) {
    margin-bottom: 3px;
  }

  @media (min-width: @tablet-width) {
    width: 102px;
    height: 20px;

    path:last-child {
      fill: var(--gray-darken);
    }
  }

  @media (min-width: @desktop-width) {
    width: 120px;
    height: 21px;
  }
}
