.map__content {
  iframe {
    display: block;
    width: 100%;
    height: 362px;
    margin: 0;
    padding: 0;
    border: none;

    @media (min-width: @tablet-width) {
      height: 400px;
    }
  }
}
