.page-main__header {
  padding-top: 27px;
  padding-bottom: 37px;

  @media (min-width: @tablet-width) {
    padding-top: 39px;
    padding-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 44px;
    padding-bottom: 55px;
  }

  .page-main--catalog & {
    @media (min-width: @tablet-width) {
      padding-bottom: 59px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 62px;
    }
  }
}

.page-main__title {
  .set-font(36px; 1.05);
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding: 0 40px;
    font-size: 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }

  .page-main--catalog & {
    padding: 0;
  }
}
