.socials {
  padding: 14px 0;
}

.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  &:not(:last-child) {
    margin-right: 33px;
  }
}

.socials__link {
  display: block;
  padding: 5px;
}
